@font-face{
    font-family: "Kingthings Petrock";
    src: url("../../public/css/fonts/Kingthings Petrock.ttf");
}
@font-face{
    font-family: "Kingthings Petrock Light";
    src: url("../../public/css/fonts/Kingthings Petrock light.ttf");
}
@font-face{
    font-family: "Ornaments";
    src: url("../../public/css/fonts/Cornucopia of Ornaments Two.ttf");
}
